/* InfoSection.css */

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #bbd0ff;
  }
  
  .info-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .info-card h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  .info-card p {
    font-size: 1.1rem;
    color: #404040;
  }
  
  /* Larger screens */
  @media (min-width: 768px) {
    .info-section {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .info-card {
      margin: 20px;
      width: calc(50% - 40px); /* Adjusts the width for larger screens */
    }
  }
  
  @media (min-width: 1024px) {
    .info-card {
      width: calc(25% - 40px); /* Adjusts the width for desktop screens */
    }
  }
  